.following .search {
	margin-bottom: 0;
}

.following__search.card.is-compact {
	padding: 0;
	margin-bottom: 16px;
	box-shadow: 0 0 0 2px transparentize( lighten( $gray, 20% ), 0.5 ), 0 1px 2px lighten( $gray, 30% );
	z-index: z-index( 'root', '.reader-following-search' );
}

.following__intro {
	background: url( '/calypso/images/reader/reader-intro-background.jpg' );
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;

	+ .following__search {
		margin-top: 30px;

		@media ( max-width: 660px ) {
			margin-top: 8px;
		}
	}

	@media ( max-width: 900px ) {
		background-position: 75% 0;
	}
}

.following__intro-header {
	display: flex;
	width: 100%;
}

.following__intro-close {
	margin-left: auto;
	color: #fff;
	margin-top: 8px;
	margin-right: 8px;
	height: 24px;

	.following__intro-close-bg {
		height: 20px;
		width: 20px;
		background-color: #5ca8a6;
		border-radius: 10px;

		&:hover {
			background-color: lighten( #62a9a7, 50% );
			box-shadow: 0 0 0 2px lighten( #62a9a7, 40% );
		}
	}

	svg {
		margin-top: -2px;
		margin-left: -2px;
	}

	&:hover {
		cursor: pointer;
		color: darken( #62a9a7, 15% );
	}
}

.following__intro-copy {
	color: #fff;
	font-size: 16px;
	margin-left: 24px;
	margin-top: 23px;
	margin-bottom: 24px;
	max-width: 69%;
	text-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.1 );

	a {
		color: #f3db51;
		border-bottom: 1px #f3db51 solid;
	}

	a:hover {
		color: #fff;
		border-bottom: 1px #fff solid;
	}

	@media ( max-width: 900px ) {
		max-width: 64%;
	}

	@media ( max-width: 660px ) {
		.following__intro-copy-hidden {
			display: none;
			visibility: hidden;
		}
	}
}
